html{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
}

body{
   display: inline-block;
   position: relative;
   top: 200px;
   left: 45%;
   transform: translate(-50%,-50%);
}
td{
   position: relative;     
   padding:  20px;
   text-align: center;
   width: 33px;
   height: 33px;
   
}

table, tr ,td{
   position: relative;  
   border: 1px solid black;  
}
